.total{
    margin-top: 200px;
}

.contenitore{
    margin: 0 auto;
    max-width: 65%;
}

.courses, .blogs{
    background: #F5F7FA;
}

.learn{
  box-shadow: inset 0px -50px 50px 25px #EFF1F4;
}

.certification{
  padding: 80px 0px 50px 0px;
}

.services .contenitore{
  background-image: url('../img2/background-pattern-grid-line.png');
}