.text{
    text-align: center;

    span{
        color: $lightgreen;
    }

    p{
        margin-bottom: 10px;
    }

    button{
        cursor: pointer;
        padding: 20px 50px;
        border: 0;
        border-radius: 5px;
        background: $lightgreen;
        color: white;
        margin: 45px 0;
    }

    button:hover{
        background: $header-color;
        color: white;
    }
}